body {
    background: rgb(70, 142, 236);
    font: normal 15pt Arial;
}

header, footer {
    color: white;
    text-align: center;
}

section {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.363);
}

footer {
    font-style: italic;
}

div#inputs {
    margin-bottom: 20px;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}
  
.tooltip .tooltiptext {
    width: 150px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 10px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    font-size: 14pt;
    visibility: hidden;
    left: 200px;
    top: 50px;
}
